---
import Layout from '@layouts/Layout.astro';
import Dolar from '@components/dolar.astro';
---

<Layout>
	<div class="container">

        <h1 class="text-center font-bold text-white fz-10 mt-10">DOLAR</h1>

        <div>
          <div class="row">
            <Dolar />
          </div>
    
        </div>

	</div>

	
</Layout>