---
import Layout from '@layouts/Layout.astro';


---

<Layout>

	<div class="container items-center p-10">
		
		<img src="https://gluc.mx/u/fotografias/m/2021/5/3/f685x385-49730_87423_5215.jpg" class="img-fluid bg-center" alt="">
	</div>

	
</Layout>

